.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 80px;

  @include media(desktop) {
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-title-wrapper {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
  }
}

.about-list-text {
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #6b7280;
  margin-bottom: 48px;

  @include media(desktop) {
  }
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 16px 19px;
  margin-bottom: 64px;

  @include media(desktop) {
    gap: 32px;
  }
}

.about-list-item {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 160px;

  @include media(desktop) {
    max-width: 220px;
  }
}

.about-item-img {
  @include media(desktop) {
  }
}

.about-item-text {
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #2f343b;

  @include media(desktop) {
    font-size: 16px;
  }
}

.about-text {
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #6b7280;

  @include media(desktop) {
    line-height: 1.8;
  }
}

.about-br {
  display: none;

  @include media(desktop) {
    display: block;
  }
}
