.features-section {
  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 80px;

  @include media(desktop) {
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-title-wrapper {
  @include media(desktop) {
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  @include media(desktop) {
  }
}

.features-list-text {
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #6b7280;
  margin-bottom: 48px;

  @include media(desktop) {
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 16px 19px;
  margin-bottom: 64px;

  @include media(desktop) {
    gap: 32px;
    margin-bottom: 38px;
  }
}

.features-list-item {
  background: linear-gradient(180deg, #b6d8f8 0%, #285465 100%);
  border: 1px solid #c7d2e0;
  border-radius: 999px;
  padding: 38px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 160px;

  @include media(desktop) {
    padding: 48px 30px;
    max-width: 200px;
  }
}

.features-item-img {
  @include media(desktop) {
  }
}

.features-item-text {
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #f4f7fb;

  @include media(desktop) {
    font-size: 16px;
  }
}

.features-text {
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #2f343b;
  max-width: 293px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    line-height: 1.5;
    max-width: max-content;
  }
}
