.footer {
  background: #dfecfd;
  border-top: 1px solid #c7d2e0;

  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding: 64px 0;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.footer-container {
  padding: 0 24px;

  @include media(desktop) {
    padding: 0 120px;
  }
}

.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.footer-nav {
  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;

  @include media(desktop) {
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2f343b;

  @include media(desktop) {
  }
}

.footer-text {
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2f343b;

  @include media(desktop) {
  }
}

.footer-text-br {
  @include media(desktop) {
    display: none;
  }
}
