.context-menu {
  display: none;
  background: #f4f7fb;
  border-bottom: 1px solid #c7d2e0;
  padding: 48px 16px 48px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-nav {
  width: 100%;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.context-list-item {
  width: 100%;
}

.context-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: #2f343b;
  opacity: 0.8;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  position: relative;
  transition:
    color 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #77a8bc;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }

  &:active {
    text-shadow: 0 0 0 currentColor;
    opacity: 1;

    &::after {
      transform: scaleX(1);
    }
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
