.works-section {
  @include media(desktop) {
  }
}

.works-bg-wrapper {
  padding-top: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.works-container {
}

.works-title {
  @include media(desktop) {
  }
}

.works-subtitle {
  @include media(desktop) {
  }
}

.works-swiper-container {
  max-width: 283px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.works-swiper-container.show {
  visibility: visible;
}

.works-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
  }
}

.works-slide {
  background: linear-gradient(270deg, #c7d2e0 0%, #f4f7fb 100%);
  border-bottom: 1px solid #c7d2e0;
  border-left: 1px solid #c7d2e0;
  border-top: 1px solid #c7d2e0;
  border-radius: 16px;
  padding: 23px;
  padding-right: 24px;
  max-width: 283px;
  min-height: 196px;
  display: flex !important;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    padding: 31px;
    padding-right: 32px;
    width: 100% !important;
    max-width: 343px;
    min-height: 194px;
  }
}

.works-item-name {
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #2f343b;

  @include media(desktop) {
  }
}

.works-item-text {
  font-family: 'Urbanist', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  color: #2f343b;

  @include media(desktop) {
  }
}

.works-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;

  @include media(desktop) {
    margin-top: 0;
  }
}
