<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <div class="section-title-line"></div>
      <h2 class="section-title about-title">Structural Logic</h2>
      <div class="section-title-line"></div>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <p class="section-subtitle">Geometry Defines Stability</p>
      <p class="about-list-text">Every frame must:</p>
      <ul class="about-list">
        <li class="about-list-item">
          <picture>
            <source
              srcset="./img/about/about-img1-desk.png"
              media="(min-width: 1440px)"
              width="80"
              height="80" />
            <source
              srcset="./img/about/about-img1-mob.png"
              width="60"
              height="60" />
            <img
              class="about-item-img"
              src="./img/about/about-img1-mob.png"
              alt="Screenshot of the game"
              width="60"
              height="60"
              loading="lazy"
          /></picture>
          <p class="about-item-text">Connect all designated edge anchors</p>
        </li>
        <li class="about-list-item">
          <picture>
            <source
              srcset="./img/about/about-img2-desk.png"
              media="(min-width: 1440px)"
              width="80"
              height="80" />
            <source
              srcset="./img/about/about-img2-mob.png"
              width="60"
              height="60" />
            <img
              class="about-item-img"
              src="./img/about/about-img2-mob.png"
              alt="Screenshot of the game"
              width="60"
              height="60"
              loading="lazy"
          /></picture>
          <p class="about-item-text">Form a continuous loop</p>
        </li>
        <li class="about-list-item">
          <picture>
            <source
              srcset="./img/about/about-img3-desk.png"
              media="(min-width: 1440px)"
              width="80"
              height="80" />
            <source
              srcset="./img/about/about-img3-mob.png"
              width="60"
              height="60" />
            <img
              class="about-item-img"
              src="./img/about/about-img3-mob.png"
              alt="Screenshot of the game"
              width="60"
              height="60"
              loading="lazy"
          /></picture>
          <p class="about-item-text">Avoid diagonal instability</p>
        </li>
        <li class="about-list-item">
          <picture>
            <source
              srcset="./img/about/about-img4-desk.png"
              media="(min-width: 1440px)"
              width="80"
              height="80" />
            <source
              srcset="./img/about/about-img4-mob.png"
              width="60"
              height="60" />
            <img
              class="about-item-img"
              src="./img/about/about-img4-mob.png"
              alt="Screenshot of the game"
              width="60"
              height="60"
              loading="lazy"
          /></picture>
          <p class="about-item-text">Maintain balanced segment distribution</p>
        </li>
      </ul>
      <p class="about-text">
        If your loop breaks, game over - no second chances. Overextended
        segments create tension penalties.<br class="about-br" />
        You can't just connect random pieces and hope for the best - the game's
        pretty unforgiving if you're not careful.
      </p>
    </div>
  </div>
</section>
