<section class="section gameplay-section" id="gameplay">
  <div class="section-title-wrapper gameplay-title-wrapper">
    <div class="container section-title-container">
      <div class="section-title-line"></div>
      <h2 class="section-title gameplay-title">STABILITY SYSTEM</h2>
      <div class="section-title-line"></div>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <p class="section-subtitle">Cold Precision</p>
      <div class="gameplay-content-wrapper">
        <div class="gameplay-list-wrapper">
          <p class="gameplay-list-text">Game checks a few key things:</p>
          <ul class="gameplay-list">
            <li class="gameplay-list-item">
              <div class="gameplay-item-circle"></div>
              <p class="gameplay-item-text">Connection continuity</p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-text">Joint symmetry</p>
              <div class="gameplay-item-circle"></div>
            </li>
            <li class="gameplay-list-item">
              <div class="gameplay-item-circle"></div>
              <p class="gameplay-item-text">Segment stress</p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-text">Load distribution</p>
              <div class="gameplay-item-circle"></div>
            </li>
          </ul>
        </div>
        <img
          class="gameplay-img-desk"
          src="./img/gameplay/gameplay-img.png"
          alt="Screenshot of the game"
          width="272"
          height="256"
          loading="lazy"
        />
        <div class="gameplay-list-wrapper">
          <p class="gameplay-list-text">When stability is achieved:</p>
          <ul class="gameplay-list">
            <li class="gameplay-list-item">
              <div class="gameplay-item-circle"></div>
              <p class="gameplay-item-text">Frame lines glow softly</p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-text">Interior nodes unlock</p>
              <div class="gameplay-item-circle"></div>
            </li>
            <li class="gameplay-list-item">
              <div class="gameplay-item-circle"></div>
              <p class="gameplay-item-text">
                New geometric objectives activate
              </p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-text">Structure stabilizes instantly</p>
              <div class="gameplay-item-circle"></div>
            </li>
          </ul>
        </div>
      </div>
      <p class="gameplay-text">
        Incomplete or asymmetrical frames remain inactive.<br
          class="gameplay-br"
        />
        So yeah, you're basically trying to build stuff that won't collapse in
        all this ice and snow.
      </p>
    </div>
  </div>
</section>
