<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <picture>
            <source
              srcset="./img/hero/hero-title-desk.png"
              media="(min-width: 1440px)"
              width="1080"
              height="304" />
            <source
              srcset="./img/hero/hero-title-mob.png"
              width="343"
              height="112" />
            <img
              class="hero-title-img"
              src="./img/hero/hero-title-mob.png"
              alt="Title"
              width="343"
              height="112"
              loading="lazy"
          /></picture>
          <p class="hero-text">
            OK so you're stuck in this frozen wasteland, and honestly? If you
            can't figure out how to build something that actually stays
            together, you're screwed.<br class="hero-text-br" />
            Each level begins with scattered edge nodes placed across icy
            platforms.<br class="hero-text-br" />
            This is where things get tricky though - it looks super easy at
            first but trust me, it'll drive you nuts:<br class="hero-text-br" />
            Construct a complete perimeter frame. Until the frame is closed and
            balanced, nothing inside matters.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/hero/hero-top-img-desk.jpg"
            media="(min-width: 1440px)"
            width="1440"
            height="533" />
          <source
            srcset="./img/hero/hero-top-img-mob.jpg"
            width="375"
            height="300" />
          <img
            class="hero-top-img"
            src="./img/hero/hero-top-img-mob.jpg"
            alt="Screenshot of the game"
            width="375"
            height="300"
            loading="lazy"
        /></picture>
        <picture>
          <source
            srcset="./img/hero/hero-bottom-img-desk.jpg"
            media="(min-width: 1440px)"
            width="1440"
            height="256" />
          <source
            srcset="./img/hero/hero-bottom-img-mob.jpg"
            width="375"
            height="135" />
          <img
            class="hero-bottom-img"
            src="./img/hero/hero-bottom-img-mob.jpg"
            alt="Screenshot of the game"
            width="375"
            height="135"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
