<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">THE FRAME</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about"
          >STRUCTURAL LOGIC</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#works"
          >STABILITY SYSTEM</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >INNER ACTIVATION</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#progression"
          >PROGRESSION</a
        >
      </li>
    </ul>
  </nav>
</div>
