<section class="section progression-section" id="progression">
  <div class="section-title-wrapper progression-title-wrapper">
    <div class="container section-title-container">
      <div class="section-title-line"></div>
      <h2 class="section-title progression-title">PROGRESSION</h2>
      <div class="section-title-line"></div>
    </div>
  </div>
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <p class="section-subtitle">From Simple Loops to Complex Structures</p>
      <p class="progression-list-text">
        The design stays minimal.<br class="progression-br" />
        The structure becomes sophisticated.
      </p>
      <ul class="progression-list">
        <li class="progression-list-item">
          <img
            class="progression-item-img"
            src="./img/progression/progression-img1.png"
            alt="Screenshot of the game"
            width="200"
            height="195"
            loading="lazy"
          />
          <h3 class="progression-item-title">Early Levels</h3>
          <p class="progression-item-text">
            · Small icy grids<br />
            · Clear perimeter goals<br />
            · Basic loops
          </p>
        </li>
        <li class="progression-list-item">
          <img
            class="progression-item-img"
            src="./img/progression/progression-img2.png"
            alt="Screenshot of the game"
            width="200"
            height="195"
            loading="lazy"
          />
          <h3 class="progression-item-title">Mid Range</h3>
          <p class="progression-item-text">
            · Multi-layer frames<br />
            · Shared anchor points<br />
            · Limited segment count
          </p>
        </li>
        <li class="progression-list-item">
          <img
            class="progression-item-img"
            src="./img/progression/progression-img3.png"
            alt="Screenshot of the game"
            width="200"
            height="195"
            loading="lazy"
          />
          <h3 class="progression-item-title">Advanced Peaks:</h3>
          <p class="progression-item-text">
            · Rotational frame mechanics<br />
            · Multi-frame interlocking systems<br />
            · Stress-based stability thresholds
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
